.gradient{
  background: rgb(122,210,248);
  background: linear-gradient(90deg, rgba(122,210,248,1) 24%, rgba(194,129,254,1) 84%);
}
#text-card{
  color: white;
}
#text-card:hover {
  background-color: var(--card-form);
}
.shopping-cart:hover .shopping-cart-card {
  display: block;
  height:40vh;
  margin: -1.86rem;
  background-color: var(--card-form);
  transition: visibility 0s linear 0s, opacity 1s;
}
.shopping-cart:hover{
  app-menu-link{
    background-color:white;
    width:80%!important;
    border-bottom-width: 8px;
    border-color: var(--card-form);

  }
  app-menu-link > a > span {
    color: #c380fe!important;
  }
  #text-card{
    background-color: var(--card-form);
    color:#c380fe!important;
    z-index:99;
    span{
      color:#c380fe!important;
    }
  }
  #text-card > span{
    color:#c380fe!important;
    z-index:99;
  }
  #cart{
    fill:#c380fe !important;
  }

}

p span {

  padding-left:1rem;
}
#cart{
  margin-right: 1rem;
}
.product-text-color{
  color: var(--product-text);
}
