<div  class="flex flex-col items-center w-full">
    <ng-container *ngIf="((CartProducts | async) && (CartProducts | async).length > 0); else emptyCart">
      <div class="-mt-20 w-3/5 shadow-lg p-2 pb-3 bg-white overflow-auto products-container">
        <app-cart-item *ngFor="let product of CartProducts | async" [cartProduct]="product" (deleteEvent)="removeProductFromCart(product)"></app-cart-item>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="border-b-2 border-purple-300 pb-3 flex justify-center items-center w-3/5 -mt-20 bg-white">
        <h1 class="text-2xl text-center uppercase font-thin text-center text-gray-600 work-sans leading-normal text-base tracking-normal">carrello vuoto</h1>
      </div>
      <app-modal [modalColor]="'orange'" [titleError]="'...Ops!'" [messageError]="'il tuo carrello è vuoto'" [firstLink]="'/home'" [firstLinkMessage]="'Torna ad Acquistare!'">
        <app-warning></app-warning>
      </app-modal>
    </ng-template>

  <div class="flex justify-between bg-white items-center w-3/5 shadow-lg p-2 pb-3">
    <p class="uppercase font-thin text-center text-gray-800 work-sans leading-normal text-base tracking-normal">Totale <span class="font-bold text-purple-500">{{TotalPrice | async | currency:'EUR':true }}</span></p>

    <ul>
      <li class="active"></li>
      <li [routerLink]="'/cart/second-step'"></li>
      <li></li></ul>

    <button [routerLink]="'/cart/second-step'" type="button" class="border-2 bg-purple-400 p-2 text-white hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase p-2 px-10">prosegui</button>
  </div>
</div>
