<h1 class="text-2xl text-center uppercase font-thin text-center text-gray-600 work-sans leading-normal text-base tracking-normal">{{dress.name}}</h1>
<div class="{{dress?._id}} glide" id="{{dress?._id}}">
  <div class="glide__track" data-glide-el="track" #myDiv>
    <ul class="glide__slides">
      <ng-container *ngFor="let imageLink of dress.links">
        <li class="glide__slide"><img [src]="imageLink.link" [alt]="dress.name"></li>
      </ng-container>
     </ul>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <ng-container *ngFor="let link of dress.links; let indice=index">
      <button class="glide__bullet" [attr.data-glide-dir]="'='+indice"></button>
    </ng-container>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"> < </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> > </button>
  </div>
</div>
<div class="flex justify-center items-center">
<button class ="w-full border-2 bg-purple-300 p-2 text-purple-900 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase rounded-md" (click)="emitDetail()">personalizza ora</button>
</div>
