<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="selectLang">
  {{'DROPDOWN-UI.SELECT' | translate}}
</label>
<select id="selectLang" #langSelect (change)="changeLanguage(langSelect.value)" class="block appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-3 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
  <option *ngFor="let language of translate.getLangs()" [selected]="lang === language" [value]="language">{{language}}</option>
</select>
