p span {

  padding-left:1rem;
}

img{
  width: 15vw!important;
  max-height: 25vh!important;
}

.products-container{
  height: 57vh;
}

ul{
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  li{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    cursor: pointer;
    height: 12px;
    margin: 0px 4px;
    width: 12px;
  }
}

.active{
  background-color: rgba(0, 0, 0, 0.3);
  border: medium none;


}
