<div class="mt-3 border-b-2 border-purple-300 pb-3 flex justify-between">
  <img [src]="cartProduct?.currentImage" />
  <div class="grid grid-cols-3 gap-3 w-full">
    <div class="col-span-1"> <p class="text-right font-thin">Prodotto</p></div>
    <div class="col-span-2"> <p class="text-left font-bold">{{cartProduct?.dressType}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Colore</p></div>
    <div class="col-span-2"> <p class="text-left font-bold">{{cartProduct?.productColor}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Testo</p></div>
    <div class="col-span-2"> <p class="text-left font-bold">{{cartProduct?.customText ? cartProduct?.customText : 'Nessuno'}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Colore testo</p></div>
    <div class="col-span-2"> <p class="text-left font-bold">{{cartProduct?.textColor ? cartProduct?.textColor : 'Nessuno'}}</p></div>
  </div>

  <div class="flex flex-col items-between justify-between pt-3">
    <p class="font-bold text-purple-500">&euro; {{cartProduct.prodotto.price}}</p>
    <button (click)="deleteProduct()" class="border-2 border-purple-300 text-purple-500 p-2 px-10 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase">rimuovi</button>
  </div>
</div>
