<div class="mt-3 border-b-2 border-purple-300 pb-3 flex justify-between">
  <img [src]="cartProduct?.currentImage" />
  <div class="grid grid-cols-3 gap-3 w-full">
    <div class="col-span-1"> <p class="text-right font-thin text-card">{{'HOME.DETAIL.LABELS.PRODUCT' | translate}}</p></div>
    <div class="col-span-2"> <p class="text-left font-bold text-card">{{cartProduct?.dressType}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin text-card">{{'HOME.DETAIL.LABELS.PRODUCT-COLOR' | translate}}</p></div>
    <div class="col-span-2"> <p class="text-left font-bold text-card">{{cartProduct?.productColor}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin text-card">{{'HOME.DETAIL.LABELS.CUSTOM-TEXT' | translate}}</p></div>
    <div class="col-span-2"> <p class="text-left font-bold text-card">{{cartProduct?.customText ? cartProduct?.customText : 'CART.STEPS.FIRST.NONE' | translate}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin text-card">{{'HOME.DETAIL.LABELS.TEXT-COLOR' | translate}}</p></div>
    <div class="col-span-2"> <p class="text-left font-bold text-card">{{cartProduct?.textColor ? cartProduct?.textColor : 'CART.STEPS.FIRST.NONE' | translate}}</p></div>
  </div>

  <div class="flex flex-col items-between justify-between pt-3">
    <p class="font-bold text-purple-500">&euro; {{cartProduct.prodotto.price}}</p>
    <button (click)="deleteProduct()"
            class="border-2 border-purple-300 text-purple-500 p-2 px-10 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase">
      {{'CART.STEPS.FIRST.REMOVE' | translate}}
    </button>
  </div>
</div>
