img{
  width: 20vw!important;
  max-height: 55vh!important;
}
.glide{
  width: 20vw!important;
}
app-dress-preview{
  margin-bottom: 2rem;
}
div{
  background-color: var(--background-primary-color);
}
