h1{
  font-family: Montserrat, sans-serif;
}

.mezzo{
  top:30%;
  left:50%;
}
form{
  button:disabled{
    opacity: 0.3;
  }
}
#color1 {
  stop-color: var(--wave-color1);
}
#color2 {
  stop-color: var(--wave-color2);
}
.title-form{
  color: var(--title-color);
}
