<div class="h-screen flex">

  <div class="w-full relative flex">

    <svg @slide viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <defs>
        <linearGradient id="myGradient" gradientTransform="rotate(90)">
          <stop id="color1" offset="5%" stop-color="#8ec5fc" />
          <stop id="color2" offset="95%" stop-color="#e0c3fc" />
        </linearGradient>
      </defs>
      <path d="M208.09,0.00 C152.70,67.10 262.02,75.98 200.80,150.00 L0.00,150.00 L0.00,0.00 Z" style="stroke: none; fill: url('#myGradient');"></path>
    </svg>

    <div @fade class="absolute top-0 p-8 flex justify-between  w-full items-center">
      <div class="flex  justify-evenly items-start">
        <h1 class="text-3xl text-indigo-900 uppercase font-bold">lillo.it</h1>
        <app-drop-down-settings></app-drop-down-settings>
      </div>
      <button class="border-2 bg-indigo-300 p-2 text-indigo-900 hover:bg-purple-300 hover:text-purple-900 rounded transition duration-500 ease-in-out font-medium" routerLink="/auth/sign-up">{{'AUTH.SIGNUP' | translate}}</button>
    </div>
    <form @fade class="absolute mezzo flex flex-col" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h1 class="text-5xl title-form font-bold">{{'AUTH.TITLE' | translate}}</h1>
      <div @fade class=" flex flex-col bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" *ngIf="loginError">
        <strong class="font-bold">{{'AUTH.ERROR' | translate}}</strong>
        <span class="block sm:inline">{{ loginError}}</span>
      </div>
      <input class="py-2 px-4 border rounded mt-8 text-indigo-600  placeholder-indigo-600" type="email" [placeholder]="'AUTH.PLACEHOLDER-Email' | translate" formControlName="username">
      <input class="py-2 px-4 border rounded mt-4 placeholder-indigo-600 text-indigo-600" type="password" [placeholder]="'AUTH.PLACEHOLDER-Password' | translate" formControlName="password">
      <button type="submit" class="border-2 bg-purple-300 p-2 text-purple-900 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase" [disabled]="loginForm.status === 'INVALID'">{{'AUTH.LOGIN' | translate}}</button>
    </form>

  </div>

</div>
