<ng-container *ngIf="currentRoute!=='' && currentRoute!=='/auth' && currentRoute!== '/auth/login' && currentRoute!== '/auth/sign-up' ">
  <div class="gradient w-full h-48">
    <nav class=" flex w-full p-6 bg-gray-100 bg-opacity-25 items-center">
      <!--sinistra-->
      <div class="w-1/3">
        <app-menu-link id="text-card" [menuTitle]="'Home'" [menuLink]="'/home/clothes'" [resize]="true" *ngIf="currentRoute !== '/home/clothes' ">
          <svg class="w-8" id="cart" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               viewBox="0 0 426.667 426.667" style="fill: white"
               xml:space="preserve">
          <g>
            <g>
              <polygon points="213.333,32 0,224 64,224 64,394.667 170.667,394.667 170.667,266.667 256,266.667 256,394.667 362.667,394.667
                362.667,224 426.667,224 		"/>
            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
        </app-menu-link>
      </div>

      <!--mezzo-->
      <div class="w-1/3 flex justify-center">
        <h1 class="text-gray-200 text-3xl">Welcome to <b>Lillo.it</b></h1>
      </div>

      <!--destra-->
      <div class="w-1/3">
        <app-cart *ngIf="currentRoute !== '/cart/first-step' && currentRoute !== '/cart/second-step' && currentRoute !== '/cart'"></app-cart>
      </div>

    </nav>
  </div>
</ng-container>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
