<div class="flex justify-center">
  <div class="mt-16 border-b-2 border-purple-400  pb-4 grid grid-cols-2 gap-3 w-full">
    <div class="col-span-1"> <p class="text-right font-thin">Prodotto</p></div>
    <div class="col-span-1"> <p class="text-left font-bold">{{product}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Colore</p></div>
    <div class="col-span-1"> <p class="text-left font-bold">{{productColor}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Testo</p></div>
    <div class="col-span-1"> <p class="text-left font-bold">{{customText ? customText: 'nessuno'}}</p></div>
    <div class="col-span-1"> <p class="text-right font-thin">Colore testo</p></div>
    <div class="col-span-1"> <p class="text-left font-bold">{{customColor ? customColor: 'nessuno'}}</p></div>
  </div>
</div>
