<div class=" mt-16 flex  flex-col items-center border-b-2 border-purple-400  pb-4">
  <p id="sas" class="flex w-1/2 justify-end font-thin text-right">Prodotto
    <span class="font-bold text-left flex ">{{product}}</span></p>

  <p class=" flex w-1/2 font-thin justify-end text-right">Colore
    <span class="font-bold  text-left flex">{{productColor}}</span></p>

  <p class="flex w-1/2 font-thin text-right justify-end">Testo
    <span class="font-bold text-left flex ">{{customText ? customText: 'nessuno'}}</span></p>

  <p class="flex w-1/2 font-thin text-right justify-end">Colore testo
    <span class="font-bold  text-left  flex">{{customColor ? customColor: 'nessuno'}}</span></p>

</div>
