<div class="flex flex-col items-center">
  <div class="-mt-20 w-1/2 shadow-lg p-2 pb-3 bg-white">
    <form [formGroup]="customizeForm" (ngSubmit)="addToCart()">
        <div class="flex w-full sm:flex-col lg:flex-row">
          <img class="self-center"  alt="product-image" [src]="'../../../../../assets/img/lillo.it.png'"  [attr.data-src]="image" onload="if(this.src !== this.getAttribute('data-src')) this.src=this.getAttribute('data-src');">
          <div class="flex flex-col p-4 right-side">
            <div class="my-2">
              <label class="font-bold my-4" for="dressType">Prodotto</label>
                <app-dress-type-picker id="dressType" [dressTypes]="['T-shirt', 'Felpa', 'Tuta']" formControlName="dressType"></app-dress-type-picker>
            </div>
            <div>
              <label class="font-bold mb-4" for="productColor">Colore prodotto</label>
              <app-color-picker id="productColor" [colors]="['red', 'orange', 'yellow', 'green', 'lightblue', 'blue']" formControlName="productColor"></app-color-picker>
            </div>
            <div>
              <label class="font-bold mb-4" for="customText">Testo personalizzato</label>
              <input id="customText" type="text" class="w-full bg-gray-200 py-3 px-4 placeholder-gray-700" placeholder='inserisci testo' formControlName="customText" />
            </div>
            <div>
              <label class="font-bold mb-4" for="customTextColor">Colore testo</label>
              <app-color-picker id="customTextColor" [colors]="['white','black']" formControlName="textColor"></app-color-picker>
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <button type="button" (click)="resetForm()" class="border-2 border-purple-300 text-purple-500 p-2 px-10 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase">ripristina</button>
          <button type="submit" class="border-2 bg-purple-400 p-2 text-white hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase" [disabled]="customizeForm.status === 'INVALID'">aggiungi al carrello</button>
        </div>
    </form>
  </div>
</div>
<div class="modal" #parent [style.opacity]="!modalVisible ? '0' : '1'" [style.visibility]="!modalVisible ? 'hidden' : 'visible'">
  <app-modal [modalColor]="'green'" [title]="'Aggiunto con Successo!'" [message]="'prodotto aggiunto al carrello'" [firstLink]="'/home'" [firstLinkMessage]="'continua a fare Shopping'" [secondLink]="'/cart'" [secondLinkMessage]="'vai al check-out'">
    <app-success></app-success>
  </app-modal>
</div>
